<div class="container">
    <!-- <div class="sfondo"></div> -->
    <img src="../../assets/img/sfondo.png" alt="sfondo" width="580px">

    <div class="container2">
        <div class="row g-0 mt-4 centra">
            <div class="col-9 ps-2">
                <div class="wordsDisplay">2 words</div>
            </div>

            <div class="col-3 play" (click)="play()">            
                <img src="../../assets/img/play.png" alt="button play">
            </div>
        </div>


        <div class="row g-0 mt-5">
            <div class="col-3 ps-2">
                <div class="parola">It's</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">so</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">not</div>
            </div>
            <div class="col-3 ps-2 pe-2">
                <div class="parola">true</div>
            </div>
        </div>
        <div class="row g-0 mt-2">
            <div class="col-3 ps-2">
                <div class="parola">It's</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">so</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">not</div>
            </div>
            <div class="col-3 ps-2 pe-2">
                <div class="parola">true</div>
            </div>
        </div>
        <div class="row g-0 mt-2">
            <div class="col-3 ps-2">
                <div class="parola">It's</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">so</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">not</div>
            </div>
            <div class="col-3 ps-2 pe-2">
                <div class="parola">true</div>
            </div>
        </div>
        <div class="row g-0 mt-2">
            <div class="col-3 ps-2">
                <div class="parola">It's</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">so</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">not</div>
            </div>
            <div class="col-3 ps-2 pe-2">
                <div class="parola">true</div>
            </div>
        </div>
        <div class="row g-0 mt-2">
            <div class="col-3 ps-2">
                <div class="parola">It's</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">so</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">not</div>
            </div>
            <div class="col-3 ps-2 pe-2">
                <div class="parola">true</div>
            </div>
        </div>
        <div class="row g-0 mt-2">
            <div class="col-3 ps-2">
                <div class="parola">It's</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">so</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">not</div>
            </div>
            <div class="col-3 ps-2 pe-2">
                <div class="parola">true</div>
            </div>
        </div>
        <div class="row g-0 mt-2">
            <div class="col-3 ps-2">
                <div class="parola">It's</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">so</div>
            </div>
            <div class="col-3 ps-2">
                <div class="parola">not</div>
            </div>
            <div class="col-3 ps-2 pe-2">
                <div class="parola">true</div>
            </div>
        </div>

        <div class="row g-0 mt-4 align-items-center">
            <div class="col-1 mx-2">
                <img src="../../assets/img/cuffia.png" width="60px">
            </div>
            <div class="col-1 mx-2">
                <img src="../../assets/img/cuffia.png" width="60px">
            </div>
            <div class="col-1 mx-2">
                <img src="../../assets/img/cuffia.png" width="60px">
            </div>
            <div class="col-1 mx-2">
                <img src="../../assets/img/cuffia.png" width="60px">
            </div>
            <div class="col-1 ms-2">
                <img src="../../assets/img/cuffia.png" width="60px">
            </div>

            <div class="col-5 ms-4">
                <div class="pointsDisplay">
                    <div class="row">
                        <div class="ps-4">Level 24</div>
                    </div>
                    <div class="row">
                        <div class="ps-4">Points 1000</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="text-center mt-4">
                <img src="../../assets/img/verify.png" alt="verify button" width="100px">
            </div>
        </div>
    </div>
</div>